.geo-text {
  margin-left: 0.5rem;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  color: #868888;
}

.result-convert {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  color: #868888;
}
